<div class="mr-3 mb-3">
    <div class="card border border-danger" style="min-width: 200px; align-items: center;">
    <h5 class="card-header text-light bg-danger d-flex justify-content-between align-items-center" style="width: 100%;"><b>{{this.id}}. {{this.name}}</b></h5>
    <div class="container" ><img class="card-img-top" src="{{this.pictureUrl}}" alt="character" /></div>
    
    <div class="card-body">   
        <p class="card-text">Types: {{this.types}}</p>
        <p class="card-text">Height: {{this.height}}</p>
        <p class="card-text">Weight: {{this.weight}}</p>
    </div>
    </div>
</div>
