<app-header></app-header>
<br/>

<div class="row justify-content-center" *ngIf="showPokemonsListView">
    <input type="text" class="mr-1" [(ngModel)]="name">
    <button class="btn btn-danger" (click)="showViewSearch()">Buscar</button>
</div>
<br />

<div *ngIf="!showPokemonsListView" class="row justify-content-center">
    <div class="container">
        <button class="btn btn-danger" (click)="showViewPokemonsList()">Regresar</button>
        <br/>

    </div>   
    
    <div class="container">
        <app-ver-pokemon name="{{this.name}}"></app-ver-pokemon>  
    </div>
   
</div>

<div *ngIf="showPokemonsListView" class="container">

    <div class="row justify-content-center">
        <button class="btn btn-danger mr-1" (click)="prevPokemones()">Prev</button>
        <button class="btn btn-danger" (click)="nextPokemones()">Next</button>
    </div>
 
    <br />

    <div class="container">
        <div class="row justify-content-center">
            <div *ngFor="let pokemonId of this.pokemones">    
                <app-pokemon id="{{pokemonId}}"></app-pokemon>
            </div>
        </div>
    </div>
    
    <br />

    <div class="row justify-content-center">
        <button class="btn btn-danger mr-1" (click)="prevPokemones()">Prev</button>
        <button class="btn btn-danger" (click)="nextPokemones()">Next</button>
    </div>

</div>
